.container-centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 45em;
    height: 30em;
    border-radius: 20px;   
    display: flex; 
    border: 3px solid #DDDDDD;
}

.login-img{
    background-color: var(--cor-principal);
    height: 30em;
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}

.login-img img{
    width: 7em;
    height:7em;
}

.login-form{
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    width: 25em;
    justify-content: center;
    align-items: center;
}

.login-form h3{
    font-size: 30px;
    color: var(--cor-tipografia);
    text-align: center;
}

.login-input{
    margin-bottom: 0em;
    margin-top: 2em;
}

.login-reset-password{
    font-size: 0.7em;
    text-decoration: underline;
    margin: 8px 0;
    padding-left: 11em;
    cursor: pointer;
}
.divisor{
    width: 12em;
    margin: 10px 0 ;
    border-bottom:  2px solid #DDDDDD ;
    border-radius: 20px;
}
.container-btn{
    display: flex;
    justify-content: space-between  ;
    width: 13em;
}



.login-administrativo{
    font-size: 0.8em;
    font-weight: 300;
    color: var(--cor-tipografia);
}