
.login-form-text-administrativo{
    color: var(--cor-tipografia);
    font-size: 20px;
    font-weight: 500;
    padding-right:  10em;
    margin-bottom: 1em;
}

.login-form-input-administrativo{
    width: 16em;
    height: 2.3em;
    border-radius: 5px;
    border: 1px solid #163062;
    margin-bottom: 0.3em;
    margin-right: 2em;
}
.login-form-input-administrativo::placeholder{
    font-size: 15px;
    font-weight: 400;
    font-family: var(--fonte-principal);
    color: #163062;
    opacity: 40%;
    padding-left: 0.3em;
}